---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?plot=short&r=json&t=inception&type=movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 18 Apr 2015 04:12:53 GMT
    body:
      encoding: UTF-8
      string: '{"Title":"Inception","Year":"2010","Rated":"PG-13","Released":"16 Jul
        2010","Runtime":"148 min","Genre":"Action, Mystery, Sci-Fi","Director":"Christopher
        Nolan","Writer":"Christopher Nolan","Actors":"Leonardo DiCaprio, Joseph Gordon-Levitt,
        Ellen Page, Tom Hardy","Plot":"A thief who steals corporate secrets through
        use of dream-sharing technology is given the inverse task of planting an idea
        into the mind of a CEO.","Language":"English, Japanese, French","Country":"USA,
        UK","Awards":"Won 4 Oscars. Another 148 wins & 170 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMjAxMzY3NjcxNF5BMl5BanBnXkFtZTcwNTI5OTM0Mw@@._V1_SX300.jpg","Metascore":"74","imdbRating":"8.8","imdbVotes":"1,198,738","imdbID":"tt1375666","Type":"movie","Response":"True"}'
  recorded_at: Sat, 18 Apr 2015 04:12:03 GMT
recorded_with: VCR 2.9.3
