---
http_interactions:
- request:
    method: get
    uri: http://omdbapi.com/?plot=short&r=json&t=looper&type=movie
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 25 May 2015 18:31:48 GMT
    body:
      encoding: UTF-8
      string: '{"Title":"Looper","Year":"2012","Rated":"R","Released":"28 Sep 2012","Runtime":"119
        min","Genre":"Action, Crime, Sci-Fi","Director":"Rian Johnson","Writer":"Rian
        Johnson","Actors":"Joseph Gordon-Levitt, Bruce Willis, Emily Blunt, Paul Dano","Plot":"In
        2074, when the mob wants to get rid of someone, the target is sent into the
        past, where a hired gun awaits - someone like Joe - who one day learns the
        mob wants to ''close the loop'' by sending back Joe''s future self for assassination.","Language":"English,
        French","Country":"USA, China","Awards":"14 wins & 36 nominations.","Poster":"http://ia.media-imdb.com/images/M/MV5BMTY3NTY0MjEwNV5BMl5BanBnXkFtZTcwNTE3NDA1OA@@._V1_SX300.jpg","Metascore":"84","imdbRating":"7.5","imdbVotes":"372957","imdbID":"tt1276104","Type":"movie","Response":"True"}'
  recorded_at: Mon, 25 May 2015 18:31:54 GMT
recorded_with: VCR 2.9.3
