<div class="row top-panel">
  <div class="small-12 columns panel round text-center">
    <h1>Recommendations</h1>
  </div>
</div>

<% if @recommendations.empty? %>
  <div class="row">
    <div class="small-12 small-centered columns panel round">
      <h3>No recommendations found.</h3>
      <h3>Add some recommendations using the search bar above!</h3>
    </div>
  </div>
<% else %>
  <% @recommendations.each do |recommendation| %>
    <div class="row">
      <div class="small-12 small-centered columns panel round">
        <%= render partial: "shared/recommendation", locals: {recommendation: recommendation} %>
      </div>
    </div>
  <% end %>
<% end %>

<div style="clear:both"></div>
