<div class="fixed">
  <nav class="top-bar nav-padding" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="<%= root_path %>" class="title round-button" >MV Listr</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
  <ul class="right">
    <li class="active">
      <a href="/auth/twitter" class="login">Login with Twitter</a>
    </li>
  </ul>

  </section>
  </nav>
</div>

<br>
<br>
