<div class="fixed">
  <nav class="top-bar nav-padding color-and-opacity" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "MV Listr", root_path, class: "title round-button" %></h1>
    </li>
  </ul>

  <section class="top-bar-section">
  <ul class="right">
    <% if current_user %>
      <li class="background-transparent">
        <%= link_to "My Top Recommendations", recommendations_path, class: "right-side background-transparent" %>
      </li>
      <li class="active">
        <%= link_to "Sign out", logout_path, method: :delete, class: "right-side" %>
      </li>
    <% else %>
      <li class="active">
        <%= link_to "Login with Twitter", auth_twitter_path, class: "right-side" %>
      </li>
    <% end %>
  </ul>
  </section>
  </nav>
</div>

<br>
<br>
