<div class="row top-panel">
  <div class="small-12 medium-8 large-6 small-centered columns panel round logo">
    <h1>MV Listr</h1>
  </div>
</div>

<div class="row top-panel">
  <% unless current_user %>
    <div class="small-10 medium-7 large-5 small-centered columns twitter panel round">
      <h1>
        <%= link_to "Login with Twitter", auth_twitter_path %>
      </h1>
    </div>
  <% end %>
</div>
