<div class="row top-panel">
  <div class="small-12 large-6 large-centered columns panel round logo">
    <h1>MV Listr</h1>
  </div>
</div>

<div class="row top-panel">
  <div class="small-12 large-4 large-centered columns twitter background-transparent">
    <% unless current_user %>
      <h3>
        <%= link_to "Login with Twitter", auth_twitter_path %>
      </h3>
    <% end %>
  </div>
</div>
