<div class="row">
  <div class="small-11 column panel">
    <h1>Welcome to the place holder for MV Listr!</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="small-6 column panel">
    <h3>
      Our website has the ability to search IMDB and list movies, or TV
      shows that your friends have recommended to you.
    </h3>
  </div>
</div>
