<div class="row">
  <div class="small-12 column panel round text-center">
    <h1>Welcome to MV Listr!</h1>
  </div>
</div>

<br>

<div class="row">
  <div class="small-6 column panel round">
    <h3>
      Our website has the ability to search IMDB and list movies, or TV
      shows that your friends have recommended to you.
    </h3>
  </div>
</div>
