<br>
<br>
<br>
<br>
<br>

<div class="row">
  <div class="small-12 large-7 column panel round">
    <h3>
      Our website has the ability to search IMDB and list movies, or TV
      shows that your friends have recommended to you.
    </h3>
  </div>
</div>
