@import url("//fonts.googleapis.com/css?family=Impact");

.nav-padding {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.title {
  font-family: Impact;
  font-size: 2.4em;
  background-color: #d9b82d;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 0.1em;
}

.right li .right-side {
  font-size: 1em;
  border-radius: 0.3em;
}

/* Change font color for title bar to black. */
.top-bar .name h1 a {
  color: black;
}
