@import url("//fonts.googleapis.com/css?family=Impact");

.nav-padding {
  padding-left: 3.5em;
  padding-right: 3.5em;
}

.title {
  font-family: Impact;
  font-size: 2.4em;
  background-color: #d9b82d;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 0.1em;
}

.top-bar .name .title-small {
  width: 4em;
  font-family: Impact;
  font-size: 2.4em;
  background-color: #d9b82d;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  border-radius: 0.1em;
}

.right li .round-button {
  font-size: 1em;
  border-radius: 0.3em;
}

/* Change font color for title bar to black. */
.top-bar .name h1 a {
  color: black;
}

.color-and-opacity {
  background: rgba(50, 50, 50, 0.7);
  padding-bottom: 50px;
  padding-top: 5px;
}

.background-transparent {
  background: transparent !important;
}

.has-form .font-position {
  color: black;
  font-weight: bold;
  padding: 0.1em 1.3em;
}

.has-form .font-position-small {
  color: black;
  font-weight: bold;
  padding: 0.1em 1.3em;
  top: initial;
}
