// Place all the styles related to the Recommendations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-title {
  padding-right: 5px;
  font-size: xx-large;
}

.movie-rating {
  border-style: groove;
  padding: 0px 3px 0px 3px;
}

.line-separator {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #999;
}

input.watched {
  background: asset_url('watched.png') no-repeat;
  background-size: 45px;
  border: 0px;
  color: black;
  font-size: large;
  font-weight: bold;
  padding: 20px 24px;
  text-indent: 30px;
  transition: All 0.5s ease;
  width: 0px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
}

.watched:hover {
  width: 240px;
}

input.delete {
  background: asset_url('trash.png') no-repeat;
  background-size: 40px;
  border: 0px;
  color: black;
  font-size: large;
  font-weight: bold;
  margin-left: 2px;
  margin-top: 2px;
  padding: 18px 22px;
  text-indent: 30px;
  transition: All 0.5s ease;
  width: 0px;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
}

.delete:hover {
  width: 130px;
}

